.interview-topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .topic-section {
    width: 80%;
    max-width: 600px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
  
  .header {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .topic-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .topic-list ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 8px;
  }
  
.list-group-item {
  font-size: 0.9rem;
  padding: 10px 15px; 
}

.list-group-item:hover {
  background-color: #f0f0f0; 
  cursor: pointer; 
}


.font-size{
font-size: 16px;
font-weight: 400;
padding: 5px;
}