
<!-- <div class="mt-3 mb-3">
  <nav class="nav">
    <div class="h5 pb-1 me-3 border-bottom border-info">JavaScript</div>
    <div class="h5 pb-1 me-3 border-bottom border-info">Angular</div>
    <div class="h5 pb-1 me-3 border-bottom border-info">Problem Solving</div>
  </nav>
</div>

<div class="container border">
  <div class="row">
    <h3>Common Interview Topics</h3>
    <div class="col-4 me-5">
        <ul class="list-group list-group-flush">
          <li
            *ngFor="let commonTopic of commonInterviewTopics"
            class="list-group-item list-group-item-action"
            (click)="openDialog(commonTopic)"
          >
            {{ commonTopic }}
          </li>
        </ul>
    </div>
    <div class="col-6 border border-warning">bb</div>
  </div>
</div> -->

<div class="container mt-4">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <div class="mb-4">
        <div class="card-body">
          <h2 class="card-title">Common Interview Topics</h2>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let commonTopic of commonInterviewTopics"
              class="list-group-item list-group-item-action"
              (click)="openDialog(commonTopic)"
            >
              {{ commonTopic }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <div class="mb-4">
        <div class="card-body">
          <h2 class="card-title">JavaScript Interview Topics</h2>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let jsTopic of javascriptTopics"
              class="list-group-item list-group-item-action"
              (click)="openDialog(jsTopic)"
            >
              {{ jsTopic }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <div class="mb-4">
        <div class="card-body">
          <h2 class="card-title">Angular Interview Topics</h2>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let ngTopic of angularTopics"
              class="list-group-item list-group-item-action"
              (click)="openDialog(ngTopic)"
            >
              {{ ngTopic }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
