<!-- <div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="mb-3">
        <label for="topicSelect" class="form-label">Select Topic</label>
        <select class="form-select" id="topicSelect" (change)="updateTopics($event)" [(ngModel)]="selectedTopic">
          <option value="ALL">All</option>
          <option value="Angular">Angular</option>
          <option value="JavaScript">JavaScript</option>
          <option value="basicwebquestion">Web Topics</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label for="difficultySelect" class="form-label">Difficulty</label>
        <select class="form-select" id="difficultySelect">
          <option value="ALL">ALL</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
        </select>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container mt-4">
  <app-angular-interview-questions *ngIf="selectedTopic === 'ALL' || selectedTopic === 'Angular'"></app-angular-interview-questions>
  <app-javascript-interview-questions *ngIf="selectedTopic === 'ALL' || selectedTopic === 'JavaScript'"></app-javascript-interview-questions>
  <app-common-web-interview-questions *ngIf="selectedTopic === 'ALL' || selectedTopic === 'basicwebquestion'"></app-common-web-interview-questions>
</div> -->

<!-- example, .col-md-4 indicates that the content should occupy 4 columns on medium-sized screens and above. -->
<!-- .col-xs-: Extra small devices (phones)
.col-sm-: Small devices (tablets)
.col-md-: Medium devices (desktops)
.col-lg-: Large devices (large desktops) -->




<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="mb-3">
        <label for="topicSelect" class="form-label">Select Topic</label>
        <select class="form-select" id="topicSelect" (change)="updateTopics1($event)">
          <option *ngFor="let chapter of allChapter" >{{chapter}}</option>
        </select>
      </div>
    </div>
  </div>





    <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        <div class="mb-4">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action topic-name" *ngFor="let topic of listOfTopic">
                <div (click)="toggleDescription(topic)" class="font-size">
                  {{topic.name}}
                  <div *ngIf="topic.showDescription" style="border: 1px solid gray;">
                    <h3>{{topic.details.mainHeading}}</h3>
                    <div *ngFor="let content of topic.details.insideContent">
                      <pre>{{topic | json}} </pre>
                      <h4>{{content.miniHeading}}</h4>
                      <p>{{content.description}}</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>