
<!-- example, .col-md-4 indicates that the content should occupy 4 columns on medium-sized screens and above. -->
<!-- .col-xs-: Extra small devices (phones)
.col-sm-: Small devices (tablets)
.col-md-: Medium devices (desktops)
.col-lg-: Large devices (large desktops) -->




<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="mb-3">
        <label for="topicSelect" class="form-label">Select Topic</label>
        <select class="form-select" id="topicSelect" (change)="updateTopics1($event)" style="padding: 10px;">
          <option *ngFor="let chapter of allChapter">{{chapter}}</option>
        </select>
      </div>
    </div>
  </div>




  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item topic-name" *ngFor="let topic of listOfTopic">
            <div (click)="toggleDescription(topic)" class="topic-header">
              <div>{{topic.name}} </div>
              <div>
                <mat-icon *ngIf="!topic.showDescription" >expand_more</mat-icon>
                <mat-icon *ngIf="topic.showDescription">expand_less</mat-icon></div>
            </div>
            <div class="topic-description" *ngIf="topic.showDescription">
              <!-- <hr> -->
              <mat-divider style="margin-bottom: 10px;"></mat-divider>
              <div *ngFor="let content of topic.details.insideContent">
                <p [innerHTML]='content.description'></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>