.topic-name {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.topic-name:hover {
  background-color: #f0f0f0;
}

.topic-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.topic-description {
  padding: 10px;
}

.topic-description p {
  margin-bottom: 5px;
}
