<div class="container mt-4">
    <div class="row mt-2 mb-3">
        <div class="col-lg-12 mt-2">
            <input type="text" class="form-control" placeholder="Search Topics" [(ngModel)]="searchQuery"
                (input)="filterQuestions()">
        </div>
    </div>
    <mat-card class="p-3 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-4" style="font-size: 1.5rem;">Expected Angular/JavaScript Questions for Frontend
                    Developers</h1>
                <ol id="frontend-questions" style="font-size: 1rem; line-height: 1.8;">
                    <li>Best Practices for API Integration with Error Handling in Angular Application?</li>
                    <li>What Have You Done to Improve the Performance of Your Angular Application?</li>
                    <li>How Would You Write Unit Tests for This Scenario in Angular?
                        <p>For Example, Clicking on a Button to Call an API and Retrieve Data.</p>
                    </li>
                    <li>Have you implemented Authentication and authorization in Angular ? What is your approach towards
                        implementing it</li>
                    <li>You are getting list of strings in random order from an API, How would you display it
                        alphabetically in Angular UI</li>
                    <li>What is CORS issue and how did you resolve it </li>
                    <li>What is your approach towards handling large data set in frontend </li>
                    <li>What you know about RxJS ? Explain whatever you know about it</li>
                    <li>Explain the rendering process in Angular (change detection )</li>
                    <li>What do you understand by state management ? Say 1-2 scenario where you have used this in your
                        project </li>
                    <li>What do you understand by TDD and BDD approaches in Software development</li>
                    <li>Have you implemented dark/light theme in Angular application</li>
                    <li>Explain one usecase of cookies in Angular frontend application which you have used before.</li>
                    <li>You have two radio buttons and two divs, based on radio button selection, show/hide divs</li>
                    <li>You have one api call, based on that response you need to call another api, how will you do it
                        in angular</li>
                    <li>Just try one rxjs map operator to get name and city key value in response out of an object in
                        angular</li>
                    <li>Explain SOLID principle and how did you use it in your angular application</li>
                </ol>
            </div>
        </div>
    </mat-card>
    <mat-card class="p-3 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1>JavaScript Practise question</h1>
                <ol id="javascript-questions" style="font-size: 1rem; line-height: 1.8;">
                    <li>Flatten an array</li>
                    <li>memoise example for sum of numbers: Memoize the add function. Implement cache in JavaScript.
                    </li>
                    <li>Implement a promise that executes after 3 secs</li>
                </ol>
            </div>
        </div>
    </mat-card>
    <mat-card class="p-3 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1>Angular frequently asked question</h1>
                <ol id="angular-questions" style="font-size: 1rem; line-height: 1.8;">
                    <li>Difference between observable and promise</li>
                    <li>pure pipe, impure pipe, custom pipe--with respect to change detection</li>
                    <li>custom directive, host listener, host binding</li>
                    <li>send headers through http request, manual way, interceptor way</li>
                    <li>JIT and AOT with practical use case</li>
                    <li>
                        <ul>
                            <li>Angular lifecycle hooks</li>
                            <li>Change detection strategies</li>
                            <li>How signal will help us to remove zone js dependency</li>
                            <li>Rendering process in angular (DOM in angular)</li>
                            <li>What is content projection in angular</li>
                        </ul>
                    </li>
                    <li>Explain the difference between unicast and multicast observables in Angular ? How do you make an
                        observable multicast ?
                        <ul>Use Subject, BehaviorSubject, or ReplaySubject.</ul>
                        <ul>Use operators like share() or shareReplay().</ul>
                    </li>
                    <li>Common RxJS Operators Related to map
                        <ul>
                            <li>map</li>
                            <li>switchMap</li>
                            <li>mergeMap</li>
                            <li>concatMap</li>
                            <li>exhaustMap</li>
                        </ul>
                    </li>
                    <li>Practical usecase with example of switchMap, mergeMap, concatMap and exhaustMap in Search
                        feature (use debounceTime in this)</li>
                    <li>resolver in angular</li>
                    <li>app initializer in angular</li>
                    <li> Explain and demonstrate host lister and host binding using directive with one example, ex-
                        create a angular component that changes background color when hover it. </li>
                </ol>
            </div>
        </div>
    </mat-card>
    <mat-card class="p-3 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1>HTML/CSS frequently asked question</h1>
                <ol id="html-css-questions" style="font-size: 1rem; line-height: 1.8;">
                    <li>What is semantic HTML and what happens if I don't use semantic elements properly?</li>
                    <li>What is the DOCTYPE Declaration in HTML?</li>
                    <li>What is SCSS and how do we use in plane html/css project and in angular project</li>
                    <li>CSS Position and display property</li>
                    <li>Can you apply width in span tag, take one div and span tag- apply width in both</li>
                    <li>Difference between border-box and content-box</li>
                    <li>How to put background-color in first line of paragraph out of 4-5 lines paragraph</li>
                    <li>Put background-color in second child of div</li>
                    <li>How many ways you know to do center a div</li>
                    <li>Create a basic web layout using html and css
                        <ul>
                            <li> flex</li>
                            <li>grid</li>
                            <li>float</li>
                            <li>inline-block</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </mat-card>
    <mat-card class="p-3 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1>TypeScript frequently asked question</h1>
                <ol id="typescript-questions" style="font-size: 1rem; line-height: 1.8;">
                    <li>What is difference between interface and type</li>
                    <li>What do you understand by access modifier (public, private, protected)</li>
                </ol>
            </div>
        </div>
    </mat-card>
    <mat-card class="p-3 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1>Your recent work list</h1>
                <ol id="recent-work-list" style="font-size: 1rem; line-height: 1.8;">
                    <li>Angular migration (12 - 18 )</li>
                    <li>Audit log feature using ag grid</li>
                    <li>AI integration (Open AI api )</li>
                    <li>NPM package publish</li>
                    <li>Medium article </li>
                    <li>multi language feature using ngx-translate</li>
                    <li>Moment js to solve time issue for different country</li>
                    <li>Chart library</li>
                    <li>Unit test</li>
                </ol>
            </div>
        </div>
    </mat-card>
  
    <mat-card class="p-3 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1>Projects</h1>
                <ol id="projects" style="font-size: 1rem; line-height: 1.8;">
                    <li>Create your resume in HTML/CSS and then make this editable then save it and download pdf format
                    </li>
                    <li>Create CRUD application in JavaScript and then in Angular</li>
                    <li>Implement Route/Auth guard by implementing Authorisation/Authentication project using firebase
                        or own node js application</li>
                    <li>Implement responsive navbar with top and side navbar (If you know Bootstrap, use it)
                        <ul>
                            <li>Create top navbar using html/css and media query</li>
                            <li>Create side navbar using html/css</li>
                            <li>Take care of mobile responsiveness</li>
                            <li>Take care of hamburger menu</li>
                            <li>Take care of dropdown menu in side navbar</li>
                            <li>You can make by any way you are comfortable</li>
                            <li>Example: https://mdbootstrap.com/docs/angular/navigation/sidenav/</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </mat-card>
</div>



<div class="container" style="margin-top: 400px;">
    <h1 class="mb-4 mt-4">JavaScript Coding Challenges</h1>
    <div class="row">
        <div class="col-lg-6">
            <h2>Arrays:</h2>
            <hr>
            <ol>
                <li>Find Maximum Number in Array</li>
                <div class="description">
                    Write a function to find the largest number in an array.
                </div>
                <li>Array Sum</li>
                <div class="description">
                    Create a function that calculates the sum of all elements in an array.
                </div>
                <li>Remove Duplicates</li>
                <div class="description">
                    Implement a function that removes duplicate elements from an array.
                </div>
                <li>Array Rotation</li>
                <div class="description">
                    Rotate the elements of an array to the right by a given number of steps.
                </div>
                <li>Find Second Maximum Number</li>
                <div class="description">
                    Write a function to find the second largest number in an array.
                </div>
                <li>Array Intersection</li>
                <div class="description">
                    Find common elements between two arrays.
                </div>
                <li>Array Chunking</li>
                <div class="description">
                    Split an array into chunks of a specified size.
                </div>
                <li>Flatten Nested Arrays</li>
                <div class="description">
                    Implement a function to flatten a nested array.
                </div>
                <li>Check for Majority Element</li>
                <div class="description">
                    Find the element that appears more than n/2 times in an array.
                </div>
            </ol>
        </div>

        <div class="col-lg-6">
            <h2>Objects:</h2>
            <hr>
            <ol>
                <li>Object Key Count</li>
                <div class="description">
                    Write a function that counts the number of keys in an object.
                </div>
                <li>Object Values Sum</li>
                <div class="description">
                    Create a function that finds the sum of all values in an object assuming they are numbers.
                </div>
                <li>Object Property Manipulation</li>
                <div class="description">
                    Convert object keys into an array and vice versa.
                </div>
                <li>Deep Object Comparison</li>
                <div class="description">
                    Compare two objects for equality, including nested objects or arrays.
                </div>
                <li>Object Filtering</li>
                <div class="description">
                    Filter an object based on a condition and return a new object with filtered properties.
                </div>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Strings:</h2>
            <hr>
            <ol>
                <li>Reverse a String</li>
                <div class="description">
                    Implement a function to reverse a string.
                </div>
                <li>Check for Palindrome</li>
                <div class="description">
                    Write a function that checks whether a string is a palindrome or not.
                </div>
                <li>Maximum Occurring Character</li>
                <div class="description">
                    Find the most frequent character in a string.
                </div>
                <li>Vowel and Consonant Count</li>
                <div class="description">
                    Count the number of vowels and consonants in a string.
                </div>
                <li>String Capitalization</li>
                <div class="description">
                    Capitalize the first letter of each word in a sentence.
                </div>
                <li>Anagram Check</li>
                <div class="description">
                    Check if two strings are anagrams of each other.
                </div>
            </ol>
        </div>

        <div class="col-lg-6">
            <h2>Advanced:</h2>
            <hr>
            <ol>
                <li>Merge Arrays</li>
                <div class="description">
                    Write a function to merge two sorted arrays into a single sorted array.
                </div>
                <li>Find Missing Number</li>
                <div class="description">
                    Find the missing number in an array of integers from 1 to n.
                </div>
                <li>Rotate Matrix</li>
                <div class="description">
                    Rotate a given matrix by 90 degrees clockwise.
                </div>
                <li>Largest Subarray Sum</li>
                <div class="description">
                    Find the largest sum of contiguous subarray within a one-dimensional array.
                </div>
                <li>Group Anagrams</li>
                <div class="description">
                    Group an array of strings into groups of anagrams.
                </div>
                <li>Implement Stack using Array</li>
                <div class="description">
                    Create a stack data structure using arrays.
                </div>
                <li>Implement Queue using Array</li>
                <div class="description">
                    Implement a queue data structure using arrays.
                </div>
                <li>Sort Array without 'sort()' Method</li>
                <div class="description">
                    Implement a sorting function without using the 'sort()' method.
                </div>
                <li>Shuffle an Array</li>
                <div class="description">
                    Write a function to shuffle the elements of an array randomly.
                </div>
                <li>Binary Search in a Sorted Array</li>
                <div class="description">
                    Implement a binary search algorithm to find an element in a sorted array.
                </div>
            </ol>
        </div>
    </div>
</div>
