<mat-icon>home</mat-icon>


<div class="container">
  <h1 class="mb-4">JavaScript Essential for developers</h1>
  <div class="row">
    <div class="col-lg-6">
      <h2>JS Concept topic wise</h2>
      <hr>
      <ol>
        <li>Functions: Scope, Clousure and this keyword</li>
        <li>ES6: arrow functions, destructuring, spread/rest operators, template literals</li>
        <li>Asynchronous JS: Promises and async/await for asynchronous operations</li>
        <li>DOM Manipulation: Document Object Model</li>
        <li>Event Handling: event listeners, event delegation, event object</li>
        <li>Prototypes and Classes: Prototypal inheritance and ES6 classes.</li>
        <li>Closures: most asked in interviews</li>
        <li>Design Patterns: Singleton, Observer, and Module (most common)</li>
        <li>Error handing: Understand try...catch</li>
        <li>Data Structures: Arrays, objects, maps, and sets (most important)</li>
        <li>Functional Programming: Know about map, filter, and reduce</li>
      </ol>
    </div>
    <div class="col-lg-6">
      <h2>Advance JS Concept</h2>
      <hr>
      <ol>
        <li>Understand Asynchronous concept</li>
        <li>Nested function scope</li>
        <li>Closure</li>
        <li>Currying</li>
        <li>this keyword</li>
        <li>Prototype</li>
        <li>Prototypal inheritance</li>
        <li>Class</li>
        <li>Iterables and iterators</li>
        <li>Generators</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Design Pattern in Web Application</h2>
      <hr>
      <ol>
        <li>Singleton pattern</li>
        <li>Proxy pattern</li>
        <li>Prototype Pattern</li>
        <li>Observer Pattern</li>
        <li>Module Pattern</li>
        <li>Mixin Pattern</li>
        <li>Mediator/Middleware pattern</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="mb-4 mt-4">JavaScript Coding Challenges</h1>
  <div class="row">
    <div class="col-lg-6">
      <h2>Arrays:</h2>
      <hr>
      <ol>
        <li>Find Maximum Number in Array</li>
        <div class="description">
          Write a function to find the largest number in an array.
        </div>
        <li>Array Sum</li>
        <div class="description">
          Create a function that calculates the sum of all elements in an array.
        </div>
        <li>Remove Duplicates</li>
        <div class="description">
          Implement a function that removes duplicate elements from an array.
        </div>
        <li>Array Rotation</li>
        <div class="description">
          Rotate the elements of an array to the right by a given number of steps.
        </div>
        <li>Find Second Maximum Number</li>
        <div class="description">
          Write a function to find the second largest number in an array.
        </div>
        <li>Array Intersection</li>
        <div class="description">
          Find common elements between two arrays.
        </div>
        <li>Array Chunking</li>
        <div class="description">
          Split an array into chunks of a specified size.
        </div>
        <li>Flatten Nested Arrays</li>
        <div class="description">
          Implement a function to flatten a nested array.
        </div>
        <li>Check for Majority Element</li>
        <div class="description">
          Find the element that appears more than n/2 times in an array.
        </div>
      </ol>
    </div>

    <div class="col-lg-6">
      <h2>Objects:</h2>
      <hr>
      <ol>
        <li>Object Key Count</li>
        <div class="description">
          Write a function that counts the number of keys in an object.
        </div>
        <li>Object Values Sum</li>
        <div class="description">
          Create a function that finds the sum of all values in an object assuming they are numbers.
        </div>
        <li>Object Property Manipulation</li>
        <div class="description">
          Convert object keys into an array and vice versa.
        </div>
        <li>Deep Object Comparison</li>
        <div class="description">
          Compare two objects for equality, including nested objects or arrays.
        </div>
        <li>Object Filtering</li>
        <div class="description">
          Filter an object based on a condition and return a new object with filtered properties.
        </div>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Strings:</h2>
      <hr>
      <ol>
        <li>Reverse a String</li>
        <div class="description">
          Implement a function to reverse a string.
        </div>
        <li>Check for Palindrome</li>
        <div class="description">
          Write a function that checks whether a string is a palindrome or not.
        </div>
        <li>Maximum Occurring Character</li>
        <div class="description">
          Find the most frequent character in a string.
        </div>
        <li>Vowel and Consonant Count</li>
        <div class="description">
          Count the number of vowels and consonants in a string.
        </div>
        <li>String Capitalization</li>
        <div class="description">
          Capitalize the first letter of each word in a sentence.
        </div>
        <li>Anagram Check</li>
        <div class="description">
          Check if two strings are anagrams of each other.
        </div>
      </ol>
    </div>

    <div class="col-lg-6">
      <h2>Advanced:</h2>
      <hr>
      <ol>
        <li>Merge Arrays</li>
        <div class="description">
          Write a function to merge two sorted arrays into a single sorted array.
        </div>
        <li>Find Missing Number</li>
        <div class="description">
          Find the missing number in an array of integers from 1 to n.
        </div>
        <li>Rotate Matrix</li>
        <div class="description">
          Rotate a given matrix by 90 degrees clockwise.
        </div>
        <li>Largest Subarray Sum</li>
        <div class="description">
          Find the largest sum of contiguous subarray within a one-dimensional array.
        </div>
        <li>Group Anagrams</li>
        <div class="description">
          Group an array of strings into groups of anagrams.
        </div>
        <li>Implement Stack using Array</li>
        <div class="description">
          Create a stack data structure using arrays.
        </div>
        <li>Implement Queue using Array</li>
        <div class="description">
          Implement a queue data structure using arrays.
        </div>
        <li>Sort Array without 'sort()' Method</li>
        <div class="description">
          Implement a sorting function without using the 'sort()' method.
        </div>
        <li>Shuffle an Array</li>
        <div class="description">
          Write a function to shuffle the elements of an array randomly.
        </div>
        <li>Binary Search in a Sorted Array</li>
        <div class="description">
          Implement a binary search algorithm to find an element in a sorted array.
        </div>
      </ol>
    </div>
  </div>
</div>