<div class="container m-4">
    <div class="row">
        <h1>Reusable Table example</h1>
        <app-table [enableFilter]="true"></app-table>
    </div>
</div>


<div class="container m-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>User ID</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of pagedAlbums">
          <td>{{ album.id }}</td>
          <td>{{ album.userId }}</td>
          <td>{{ album.title }}</td>
        </tr>
      </tbody>
    </table>
    <div     style="display: flex; justify-content: flex-end;">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>  
</div>