<button (click)="goToHome()">Home</button>

<ul>
    <li>make this website responsive</li>
    <li>concepts related to routes
        <ul>
            <li>route gaurd</li>
            <li>auth gaurd</li>
            <li>lazy laoding</li>
        </ul>
    </li>
    <li>Design pattern in Javascript
        <ul>Constructor pattern</ul>
        <ul>singleton pattern</ul>
        <ul>factory pattern</ul>
        <ul> prototype pattern</ul>
        <ul>Observer pattern</ul>
    </li>
    <li>Understand OOPS concept and relate to your daily angular work</li>
    <li>Understand Dependencies injection in angular</li>
</ul>
