<button (click)="goToHome()">Home</button>

<ul>
    <li>make this website responsive</li>
    <li>concepts related to routes
        <ul>
            <li>route gaurd</li>
            <li>auth gaurd</li>
            <li>lazy laoding</li>
        </ul>
    </li>
    <li>Design pattern in Javascript
        <ul>Constructor pattern</ul>
        <ul>singleton pattern</ul>
        <ul>factory pattern</ul>
        <ul> prototype pattern</ul>
        <ul>Observer pattern</ul>
    </li>
    <li>Understand OOPS concept and relate to your daily angular work</li>
    <li>Understand Dependencies injection in angular</li>
    <li>responsive nav bar with header using angular material</li>
  <!-- https://stackblitz.com/edit/angular-material-responsive-navigation-bar-tu8doo
    https://www.appsloveworld.com/angular/100/271/how-to-implement-sidenav-header-footer-in-angular-material
  -->
    <li>dark/light theme in angular themes</li>
</ul>
