.custom-box {
    background-color: rgb(247, 243, 243); 
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(222, 221, 221);
}

.row:nth-child(n+3){
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 1rem;
  border-radius: 6px;
}


.custom-box:hover {
    background-color: #AF69EF;
    color: white;
}

.active-topic {
  background-color: #e6dede;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: justify;
  }

  

  