<!-- <header>
    <div class="section_1">
        <h2>Frontend Developer</h2>
        <div class="section_1_1">
            <div> Home </div>
            <mat-slide-toggle>Dark</mat-slide-toggle>
        </div>
    </div>
</header>
<section>
    <div class="section_2">
        <div class="section_2_1">
            <mat-card> <img class="section_2_1_image" src="../assets/C84834D9-9158-44AC-9F21-54789E13A056.jpg"
                    alt=""></mat-card>
        </div>
        <div class="section_2_2">
            <div class="section_2_2_1">
                <div style="font-size: 24px; font-family: cursive; margin-bottom: 12px;">Hi, My Name is Bittu Kumar</div>
                <div>Software Engineer @Siemens</div>
            </div>
            <div class="section_2_2_2">
               <a href="https://bittukumar-web.medium.com/" target="_blank"> <button class="blog_button" mat-raised-button>Blog</button> </a>
                <button (click)="navigateToProjects()" mat-raised-button>Projects</button>
                <a href="https://github.com/bittu1040" target="_blank"> <button class="blog_button" mat-raised-button>Github</button> </a>
                <button (click)="navigateToContact()" mat-raised-button>Contact</button>
            </div>
        </div>
    </div>
</section> -->


<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>

    <div class="tabs">
    <button mat-raised-button>
        <a href="https://bittukumar-web.medium.com/" target="_blank"> Blog </a>
    </button>

    <button (click)="navigateToProjects()" mat-raised-button>Projects</button>

    <button mat-raised-button>
         <a href="https://github.com/bittu1040" target="_blank"> Github </a>
    </button>

    <button (click)="navigateToContact()" mat-raised-button>Contact</button>
    </div>
</mat-toolbar>

<div class="center-body">
<mat-card class="main-body">
    <div class="left-section">
      <div class="details-section">
        <div class="img">image</div>
        <div class="details">details</div>
      </div>
      <div class="skills-section">
        <span class="skills-header"> skills</span>

      </div>
    </div>

    <div class="right-section">
      <span> about me</span>
    </div>

    <div></div>
</mat-card>
</div>

