

<div>home</div>

<!-- <div class="center-body">
    <mat-card>
        <mat-card-content>
            <div class="main-body">
                <div class="left-section">
                    <div class="details-section">
                        <div>

                            <img class="img" src="../assets/myphoto.jpg" alt="">
                        </div>
                        <div class="details">
                            <div> <b> Name </b>:Bittu Kumar </div>
                            <div> <b> Profile </b>: Software Developer</div>
                            <div> <b> Email </b>: bittu@gmail.com </div>
                            <div> <b> Phone </b>: 747 3748 383</div>
                        </div>
                    </div>
                    <div class="skills-section">
                        <div style="margin-bottom: 10px;"> <b> Skills </b></div>
                        <div class="skill-name"> HTML 80% </div>
                        <div class="progress-bar-section"> <mat-progress-bar mode="determinate"
                                value="80"></mat-progress-bar>
                        </div>
                        <div class="skill-name"> CSS 70% </div>
                        <div class="progress-bar-section"> <mat-progress-bar mode="determinate"
                                value="70"></mat-progress-bar>
                        </div>
                        <div class="skill-name"> JAVASCRIPT 80% </div>
                        <div class="progress-bar-section"> <mat-progress-bar mode="determinate"
                                value="80"></mat-progress-bar>
                        </div>
                        <div class="skill-name"> Angular 75% </div>
                        <div class="progress-bar-section"> <mat-progress-bar mode="determinate"
                                value="75"></mat-progress-bar>
                        </div>
                    </div>
                </div>

                <div class="right-section">
                    <div class="aboutMe">
                        <h3>About me !!</h3>
                        <hr style="width: 18rem;">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ad iste nam voluptatem
                            ratione,
                            reprehenderit laborum aliquid. Dolore, fugit libero. At facere totam id reprehenderit,
                            exercitationem
                            aspernatur labore ex laudantium rerum quaerat!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, qui, quidem, distinctio
                            officiis dolor a
                            mollitia corporis sit nihil accusamus magni est suscipit! Corporis rem dolorum doloremque
                            eius pariatur,
                            cumque vero incidunt blanditiis. Sapiente, quidem dolorum quasi quae, sequi ab commodi
                            veniam optio
                            velit omnis aspernatur fuga veritatis!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita commodi provident in
                            magnam id
                            corrupti et.</p>
                    </div>

                    <div class="web-images">
                        <img class="web-image-size" src="../../../assets/html.png" alt="">
                        <img class="web-image-size" src="../../../assets/css.png" alt="">
                        <img class="web-image-size" src="../../../assets/JavaScript-logo.png" alt="">
                        <img class="web-image-size" src="../../../assets/AngularJS-Shield.svg" alt="">
                    </div>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <div class="social-media-details">
                <a href="https://www.google.com" target="_blank"><i
                        class="fa-brands fa-facebook social-media-icon-size"></i></a>
                <a href="https://www.google.com" target="_blank"><i
                        class="fa-brands fa-twitter social-media-icon-size"></i></a>
                <a href="https://www.google.com" target="_blank"><i
                        class="fa-brands fa-linkedin social-media-icon-size"></i></a>
                <a href="https://www.google.com" target="_blank"><i
                        class="fa-brands fa-instagram social-media-icon-size"></i></a>
            </div>
        </mat-card-actions>
    </mat-card>
</div> -->