.profile-card {
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .profile-card {
      flex-direction: column;
  }
  
}

.icon-box{
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.skill-image{
  width: 50px;
}











