.profile-card {
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .profile-card {
      flex-direction: column;
  }
  
}

.icon-box{
  border: 1px solid rgb(159, 183, 236);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.icon-box:hover{
  background-color: rgb(164, 237, 244);
}

.skill-image{
  width: 50px;
}


.profile-summary h2 {
  color: #3498db;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 13px;
  position: relative;
  padding-left: 30px;
}

li::before {
  content: '🔹';
  position: absolute;
  left: 0;
  color: #3498db;
}

.interactive-text {
  cursor: pointer;
  color: #e74c3c;
  transition: color 0.3s ease;
}

.interactive-text:hover {
  color: #c0392b;
}











