

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
    margin-top: 10px;
}

.example-full-width {
    width: 100%;
}

.submitBtn {
    margin-bottom: 16px;
}

