<!-- 
    image file upload 
    Search files
    display all image files
    image edit/update
 -->


<div class="container mt-4">
  <h2 style="text-align: center;">Experience Web application mini features in Angular</h2>
  <mat-divider></mat-divider>
  <mat-card class="m-4 p-3">
    <div class="row">
      <h2>1. Auto completion example</h2>
      <div class="col">
        <form [formGroup]="cityFormGroup">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input type="text" matInput formControlName="city" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                {{ city }}
              </mat-option>
              <mat-option *ngIf="cityFormGroup.get('city')?.value && (filteredCities | async)?.length === 0"
                [value]="'not-found'">
                No matching cities found
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-card>

  <mat-card class="m-4 p-3">
    <div class="row mt-4">
      <h2> 2.  Form example with Date and time input</h2>
      <form [formGroup]="dateAndTimeInputForm" (ngSubmit)="dateFormSubmit()">
        <mat-form-field class="dateFormInput" appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="dateAndTimeInputForm.controls['startDate'].hasError('required')">
            Start date is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="dateFormInput" appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error *ngIf="dateAndTimeInputForm.controls['endDate'].hasError('required')">
            End date is required
          </mat-error>
          <mat-error *ngIf="dateAndTimeInputForm.hasError('dates')">
            End date should be later than start date
          </mat-error>
        </mat-form-field>

        <mat-form-field class="dateFormInput" appearance="fill">
          <mat-label>Time</mat-label>
          <input matInput type="time" formControlName="time">
          <mat-error *ngIf="dateAndTimeInputForm.controls['time'].hasError('required')">
            Time is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="dateAndTimeInputForm.invalid">Submit</button>
      </form>

    </div>
  </mat-card>

  <mat-card class="m-4 p-3">
    <mat-card-header>
      <h2>3. Product search example </h2>
    </mat-card-header>
    <div class="row" style="height: calc(100vh - 383px); overflow: auto;">
      <div><input type="text" class="form-control mb-3" placeholder="Search Products" (input)="onInputChange($event)">
      </div>
      <ng-container *ngIf="products?.length > 0; else noProducts">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ product.title | slice: 0:20 }}</h4>
              <p class="card-text">Category: {{ product.category }}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <div class="col">
          <p>No products found.</p>
        </div>
      </ng-template>
    </div>
  </mat-card>

</div>