<!-- 
                image file upload 
                Search files
                display all image files
                image edit/update
 -->

 <!-- 
 
                Create a form with start date, end date and time with basic validation. 

                input type Date and time
                custom validator for date match (end date should be more than start date)
                Date format matcher : validator (Date format should be in this format DD/MM/YYYY  )

                Submit and get data in console 
                { startDate:12/01/2024, endDate: 12/04/2024, time: 04:00 AM }

 -->


<div class="container mt-4">
  <h2 style="text-align: center;">Experience Web application mini features in Angular</h2>
  <mat-divider></mat-divider>

  <mat-card class="m-4 p-3">
    <div class="row mt-4">
      <h2> 1. Reactive Form example with validation</h2>
      <form [formGroup]="simpleForm1" (ngSubmit)="simpleForm1Submit()">
        <mat-form-field class="simpleFormInput" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput  formControlName="fullName">
          <mat-error *ngIf="simpleForm1.controls['fullName'].hasError('required')">Name is required</mat-error>
          <mat-error *ngIf="simpleForm1.controls['fullName'].hasError('pattern')">Only alphabets are allowed</mat-error>
        </mat-form-field>

        <mat-form-field class="simpleFormInput" appearance="fill">
          <mat-label>City</mat-label>
          <input matInput  formControlName="city">
          <mat-error *ngIf="simpleForm1.controls['city'].hasError('required')">City is required</mat-error>
        </mat-form-field>

        <mat-form-field class="simpleFormInput" appearance="fill">
          <mat-label>Choose DOB</mat-label>
          <input matInput  [matDatepicker]="picker" formControlName="DOB">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="simpleForm1.controls['DOB'].hasError('required')">DOB is required</mat-error>
        </mat-form-field>


        <mat-form-field class="simpleFormInput" appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput  formControlName="Age">
        </mat-form-field>          

        <mat-form-field class="simpleFormInput" appearance="fill">
          <mat-label>Unique Id</mat-label>
          <input matInput  formControlName="uniqueId">
          <mat-error *ngIf="simpleForm1.controls['uniqueId'].hasError('required')">Unique ID is required</mat-error>
        </mat-form-field>

        <mat-form-field class="simpleFormInput" appearance="fill">
          <mat-label>Confirm Unique Id</mat-label>
          <input matInput  formControlName="confirmUniqueId">
          <mat-error *ngIf="simpleForm1.controls['confirmUniqueId'].hasError('required')">Unique ID is required</mat-error>
          <mat-error *ngIf="simpleForm1.hasError('uniqueIdMatch')">Unique ID does not match</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="simpleForm1.invalid">Submit</button>
      </form>

    </div>
  </mat-card>
  <mat-card class="m-4 p-3">
    <div class="row">
      <h2>2. Auto completion example</h2>
      <div class="col">
        <form [formGroup]="cityFormGroup">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input type="text" matInput formControlName="city" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                {{ city }}
              </mat-option>
              <mat-option *ngIf="cityFormGroup.get('city')?.value && (filteredCities | async)?.length === 0"
                [value]="'not-found'">
                No matching cities found
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-card>

  <mat-card class="m-4 p-3">
    <div class="row mt-4">
      <h2> 3. Reactive Form example with Date and time input in Angular</h2>
      <form [formGroup]="dateAndTimeInputForm" (ngSubmit)="dateFormSubmit()">
        <mat-form-field class="dateFormInput" appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="dateAndTimeInputForm.controls['startDate'].hasError('required')">
            Start date is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="dateFormInput" appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error *ngIf="dateAndTimeInputForm.controls['endDate'].hasError('required')">
            End date is required
          </mat-error>
          <mat-error *ngIf="dateAndTimeInputForm.hasError('datesComparision')">
            End date should be later than start date
          </mat-error>
        </mat-form-field>

        <mat-form-field class="dateFormInput" appearance="fill">
          <mat-label>Time</mat-label>
          <input matInput type="time" formControlName="time">
          <mat-error *ngIf="dateAndTimeInputForm.controls['time'].hasError('required')">
            Time is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="dateAndTimeInputForm.invalid">Submit</button>
      </form>

    </div>
  </mat-card>

  <mat-card class="m-4 p-3">
    <mat-card-header>
      <h2>4. Product search example </h2>
    </mat-card-header>
    <div class="row" style="height: calc(100vh - 383px); overflow: auto;">
      <div><input type="text" class="form-control mb-3" placeholder="Search Products" (input)="onInputChange($event)">
      </div>
      <ng-container *ngIf="products?.length > 0; else noProducts">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ product.title | slice: 0:20 }}</h4>
              <p class="card-text">Category: {{ product.category }}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <div class="col">
          <p>No products found.</p>
        </div>
      </ng-template>
    </div>
  </mat-card>

  
  <mat-card class="m-4 p-3">
    <div class="row mt-4">
      <h2>5. Client side pagination</h2>

    </div>
  </mat-card>

  <mat-card class="m-4 p-3">
    <div class="row mt-4">
      <h2>6. Server side pagination</h2>

    </div>
  </mat-card>

  <mat-card class="m-4 p-3">
    <div class="row mt-4">
      <h2>7. Highlight data if modified in table </h2>
      <p> Create a table with column: name, city and age. create a edit form with name, city and age, what ever data is modified should be highlighted and it should show previous data in tooltip</p>
    </div>
  </mat-card>

</div>