.backIcon {
    /* position: fixed;
    top: 40px; 
    left: 40px; */
    cursor: pointer;
}

.project-page {
    height: 100vh;
    width: 100vw;
}

.top-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.project-details {
    width: 250px;
    height: 100px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}