<div class="project-page">
    <div class="top-section">
        <div>
            <mat-icon (click)="goToHome()" class="backIcon">home</mat-icon>
        </div>
        <div style="margin-right: 200px;">Frontend HTML, CSS and Javascript mini project</div>
    </div>

    <div class="project-card">
        <mat-card class="project-details" *ngFor="let project of cardDetails">
            <mat-card-content>
                {{project.name}}
            </mat-card-content>
        </mat-card>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>