.backIcon {
    /* position: fixed;
    top: 40px; 
    left: 40px; */
    cursor: pointer;
}

.project-page {
    height: 100vh;
    width: 100vw;
}

.top-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.project-details {
    width: 250px;
    height: 100px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 1.25rem;
    text-decoration: none;
}
/*
.project-details{
 width: calc(33.33% - 96px); 
height: 100px; 
margin: 10px;
background-color: #f1f1f1;
display: flex;
    justify-content: center;
    align-items: center;
} */