<mat-toolbar color="primary" style="justify-content: space-between;">
  <div style="display: flex; align-items: center;">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" id="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div routerLink="/learn/overview">Learn with Bittu</div>

  </div>
  <div style="display: flex; align-items: center;">
    <div class="toolbar-buttons">
      <a mat-button id="blog-button" href="https://medium.com/@bittukumar-web" target="_blank">Blog</a>
      <a mat-button id="blog-button" routerLink="/learn/learn-JS">JavaScript</a>
      <a mat-button id="project-button" routerLink="/learn/overview">Interview Prep</a>
      <a mat-button id="github-button" href="https://github.com/bittu1040" target="_blank"> Github </a>
      <a mat-button routerLink="/aboutme"> About me </a>
      <button mat-button id="contact-button" routerLink="/contact">Contact</button>
    </div>
    <div style="height: 24px;"> <mat-icon>light_mode</mat-icon> </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isSideNavOpened">
    <mat-nav-list>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button id="blog-button" href="https://medium.com/@bittukumar-web" target="_blank"> Blog </a>
      </mat-list-item>
      <mat-list-item>
        <button mat-button id="project-button" (click)="toggleTreeVisibility()">Learn</button>
      </mat-list-item>
      
      <mat-list *ngIf="showTree" class="learn-section">
          <mat-list-item class="listitem" routerLink="/learn/overview">Interview Prep</mat-list-item>
          <mat-list-item class="listitem" routerLink="/learn/learn-JS">JavaScript</mat-list-item>
      </mat-list>
  
      <mat-list-item (click)="sidenav.close()">
        <a mat-button id="github-button" href="https://github.com/bittu1040" target="_blank"> Github </a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <button mat-button routerLink="/aboutme">about me</button>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <button mat-button id="contact-button" routerLink="/contact">Contact</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button id="resume-button">Resume</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      <div class="copyright">
        &copy; 2023 Bittu Kumar. All rights reserved.
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--
<mat-toolbar color="primary">
    <mat-toolbar-row>
       <img src="" alt="logo">
       <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
   </mat-toolbar-row>
 </mat-toolbar>


 <mat-sidenav-container>
    <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'"> 
       <mat-nav-list>
         <a mat-list-item [routerLink]="'/provideLink'" routerLinkActive="active-list-item">
           Nav1
         </a>
         <a mat-list-item [routerLink]="'/provideLink'" routerLinkActive="active-list-item">
           Nav2
         </a>
       </mat-nav-list>
    </mat-sidenav>
     <mat-sidenav-content>
        <div style="height: 90vh">
           <router-outlet></router-outlet>
        </div>
     </mat-sidenav-content>
 </mat-sidenav-container>

 <mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>
-->