<mat-toolbar color="primary" style="justify-content: space-between;">
  <div style="display: flex; align-items: center;">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" id="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div routerLink="/learn/overview">Learn with Bittu</div>

  </div>
  <div style="display: flex; align-items: center;">
    <div class="toolbar-buttons">
      <button mat-button id="snippet-button" routerLink="/">Snippets</button>
      <a mat-button id="blog-button" routerLink="/learn/learn-JS">JavaScript</a>
      <a mat-button id="project-button" routerLink="/learn/overview">Interview Prep</a>
      <a mat-button routerLink="/aboutme"> About me </a>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isSideNavOpened">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        JavaScript
      </mat-expansion-panel-header>
      <div class="panel-content">
        <ul>
          <li *ngFor="let data of JSTopics">{{data.name}}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Angular
      </mat-expansion-panel-header>
      <div class="panel-content">
        <ul>
          <li *ngFor="let data of AngularTopics">{{data.name}}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-nav-list>
      <mat-list-item><button class="custom-button">Coding Questions </button></mat-list-item>
      <mat-list-item routerLink="/learn/overview"  ><button class="custom-button">Interview Prep </button></mat-list-item>
      <mat-list-item routerLink="/learn/learn-JS"  ><button class="custom-button" >JavaScript </button></mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <button mat-button routerLink="/aboutme">about me</button>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <button mat-button id="contact-button" routerLink="/contact">Contact</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      <div class="copyright">
        &copy; 2023 Bittu Kumar.
        <div style="margin-left: 8px;">
          <a href="https://github.com/bittu1040" target="_blank" class="btn btn btn-outline-light">
            <i class="fa-brands fa-github"></i></a>
          <a href="https://medium.com/@bittukumar-web" target="_blank" class="btn btn btn-outline-light"
            style="margin-left: 0.5rem;"><i class="fa-brands fa-medium"></i></a>
          <a href="https://www.linkedin.com/in/bittukumar-web/" target="_blank" class="btn btn btn-outline-light"
            style="margin-left: 0.5rem;margin-right: 0.5rem;"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--
<mat-toolbar color="primary">
    <mat-toolbar-row>
       <img src="" alt="logo">
       <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
   </mat-toolbar-row>
 </mat-toolbar>


 <mat-sidenav-container>
    <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'"> 
       <mat-nav-list>
         <a mat-list-item [routerLink]="'/provideLink'" routerLinkActive="active-list-item">
           Nav1
         </a>
         <a mat-list-item [routerLink]="'/provideLink'" routerLinkActive="active-list-item">
           Nav2
         </a>
       </mat-nav-list>
    </mat-sidenav>
     <mat-sidenav-content>
        <div style="height: 90vh">
           <router-outlet></router-outlet>
        </div>
     </mat-sidenav-content>
 </mat-sidenav-container>

 <mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>
-->