<mat-toolbar color="primary" style="justify-content: space-between;">
    <div style="display: flex; align-items: center;">
        <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" id="menu-button">
            <mat-icon>menu</mat-icon>
        </button>
        <div routerLink="/home">Bittu Portfolio</div>

    </div>
    <div style="display: flex; align-items: center;">
        <div class="toolbar-buttons">
            <a mat-button id="blog-button" href="https://medium.com/@bittukumar-web" target="_blank">Blog</a>

            <a mat-button id="project-button" routerLink="/learn">Projects</a>
            <a mat-button id="github-button" href="https://github.com/bittu1040" target="_blank"> Github </a>
            <button mat-button id="contact-button" routerLink="/contact">Contact</button>
        </div>
       <div style="height: 24px;"> <mat-icon>light_mode</mat-icon> </div>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'">
        <mat-nav-list (click)="sidenav.close()">
            <mat-list-item>
                <a mat-button id="blog-button" href="https://medium.com/@bittukumar-web" target="_blank"> Blog </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-button id="project-button" routerLink="/project">Projects</button>
            </mat-list-item>
            <mat-list-item>
                <a mat-button id="github-button" href="https://github.com/bittu1040" target="_blank"> Github </a>
            </mat-list-item>
            <mat-list-item>
                <button mat-button id="contact-button" routerLink="/contact">Contact</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button id="resume-button" >Resume</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container" style="height: 100vh;" >
        <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
    <div class="copyright">
        &copy; 2023 Bittu Kumar. All rights reserved.
    </div>
</footer>



<!--
<mat-toolbar color="primary">
    <mat-toolbar-row>
       <img src="" alt="logo">
       <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
   </mat-toolbar-row>
 </mat-toolbar>


 <mat-sidenav-container>
    <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'"> 
       <mat-nav-list>
         <a mat-list-item [routerLink]="'/provideLink'" routerLinkActive="active-list-item">
           Nav1
         </a>
         <a mat-list-item [routerLink]="'/provideLink'" routerLinkActive="active-list-item">
           Nav2
         </a>
       </mat-nav-list>
    </mat-sidenav>
     <mat-sidenav-content>
        <div style="height: 90vh">
           <router-outlet></router-outlet>
        </div>
     </mat-sidenav-content>
 </mat-sidenav-container>

 <mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>
-->