mat-sidenav-container {
  height: calc(100vh - 64px);
}

.mat-toolbar.mat-primary {
  background: #FFB74D;
  color: #fff;
}


@media (max-width: 460px) {
  mat-toolbar {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .toolbar-buttons {
    display: none;
  }

  .mat-sidenav {
    width: 60%;
  }
}

@media only screen and (min-width: 601px) {
  .toolbar-buttons {
    display: block;
  }

  .mat-sidenav {
    width: 300px;
  }
}

/* uncomment this code to hide the menu button in bigger screen */
/* @media only screen and (min-width: 601px) {
    #menu-button {
      display: none;
    }
  } */


.button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}


footer {
  background-color: #FFB74D;
  color: #fff;
  text-align: center;
  padding: 6px;
  margin-top: 10px;
}

.copyright {
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .copyright {
    flex-direction: column;
    gap: 10px;
  }
}

.learn-section {
  padding-left: 40px;
}

.listitem {
  height: 30px !important;
}


.panel-content {
  padding: 10px;
}

.panel-content ul {
  list-style-type: none;
  padding: 0;
}

.panel-content li {
  margin-bottom: 5px;
  padding: 0 0 5px 5px; /* Top, Right, Bottom, Left */
  transition: background-color 0.3s; /* Smooth transition effect */
}

.panel-content li:hover {
  background-color: #f0f0f0; /* Light background color on hover */
  border-radius: 5px;
  cursor: pointer;
}


.mat-expansion-panel {
  box-shadow: none; /* Remove default box-shadow */
}

.mat-drawer-side{
  border: none;
}

.mat-expansion-panel-header {
  font-weight: normal;
}

.mat-drawer{
  background-color: white;
}

.custom-button{
  border: none;
  background: none;
  font-size: 1rem;
}

