mat-sidenav-container {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1; /* This makes the container grow to fill available space */
}

/*
 background: rgb(171,201,201);
background: linear-gradient(0deg, rgba(171,201,201,1) 0%, rgba(200,200,200,1) 39%, rgba(160,146,166,1) 99%, rgba(158,138,95,1) 100%); 
*/

.mat-toolbar.mat-primary {
  background: #AF69EF;
  color: #fff;
}


@media (max-width: 460px) {
  mat-toolbar {
    font-size: 1rem;
  }
}

/* @media only screen and (max-width: 600px) {
  .toolbar-buttons {
    display: none;
  }

  .mat-sidenav {
    width: 60%;
  }
} */

@media only screen and (max-width: 600px) {
  .toolbar-buttons {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
  }

  .toolbar-buttons a {
    display: none; /* Hide all links by default */
  }

  .toolbar-buttons a:nth-child(1) {
    display: block; /* Display the first link (GitHub) */
  }
  #nav-button{
    padding: 0px !important;
    margin-left: 0px !important;
    border: 0px !important;
  }

  .mat-sidenav {
    width: 60%; /* Adjust sidenav width as needed */
  }
}

@media only screen and (min-width: 601px) {
  .toolbar-buttons {
    display: block;
  }

  .mat-sidenav {
    width: 300px;
  }
}

/* uncomment this code to hide the menu button in bigger screen */
/* @media only screen and (min-width: 601px) {
    #menu-button {
      display: none;
    }
  } */

#nav-button{
  border: 1px solid rgb(239, 243, 241);
  margin-left: 8px;
  padding: 16px;
  font-size: 1rem;
  border-radius: 8px;
}

#nav-button:hover{
  background-color: rgb(240, 255, 218);
  color: black;
}



footer {
  background-color: #AF69EF;
  color: #fff;
  text-align: center;
  padding: 6px;
  margin-top: auto; /* This pushes the footer to the bottom */
}

.copyright {
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .copyright {
    flex-direction: column;
    gap: 10px;
  }
}



.panel-content {
  padding: 10px;
}

.panel-content ul {
  list-style-type: none;
  padding: 0;
}

.panel-content li {
  margin-bottom: 5px;
  padding: 0 0 5px 5px; /* Top, Right, Bottom, Left */
  transition: background-color 0.3s; /* Smooth transition effect */
}

.panel-content li:hover {
  background-color: #AF69EF; /* Light background color on hover */
  border-radius: 4px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}


.mat-expansion-panel {
  box-shadow: none; /* Remove default box-shadow */
}

.mat-drawer-side{
  border: none;
}

.mat-expansion-panel-header {
  font-weight: normal;
}

.mat-drawer{
  background-color: white;
}

.custom-button{
  border: none;
  background: none;
  font-size: 1rem;
}

