<h2 mat-dialog-title>{{ data }}</h2>
<div mat-dialog-content>
    <div *ngIf="data === 'Debounce and Throttle'">
        <p> Debounce and Throttle specific content </p>
    </div>
    
    <div *ngIf="data === 'Pure and impure pipe/function'">
        <p> Pure and impure pipe/function specific content </p>
    </div>
    
    <div *ngIf="data === 'Mutability and immutability'">
        <p> Mutability and immutability specific content </p>
    </div>
    
    <div *ngIf="data === 'Async and defer'">
        <p> Async and defer specific content </p>
    </div>
    
    <div *ngIf="data === 'CORS'">
        <p> CORS specific content </p>
    </div>
    
    <div *ngIf="data === 'Web Performance Optimation'">
        <p> Web Performance Optimation specific content </p>
    </div>
    
    <div *ngIf="data === 'Responsive Web Design'">
        <p> Responsive Web Design specific content </p>
    </div>
    
    <div *ngIf="data === 'What is microfrontend'">
        <p> What is microfrontend specific content </p>
    </div>
    
    <div *ngIf="data === 'Explain PWA and SPA'">
        <p> Explain PWA and SPA specific content </p>
    </div>
    
    <div *ngIf="data === 'Pre-processors - SCSS or LESS'">
        <p> Pre-processors - SCSS or LESS specific content </p>
    </div>
    
    <div *ngIf="data === 'JWT'">
        <p> JWT specific content </p>
    </div>
    
    <div *ngIf="data === 'localStorage/sessionStorage'">
        <p> localStorage/sessionStorage specific content </p>
    </div>
    
    <div *ngIf="data === 'How to debug your frontend application'">
        <p> How to debug your frontend application specific content </p>
    </div>
    
    <div *ngIf="data === 'OOPs concepts'">
        <p> OOPs concepts specific content </p>
    </div>
    
    <div *ngIf="data === 'Design Patterns'">
        <p> Design Patterns specific content </p>
    </div>
    
    <div *ngIf="data === 'What you know about unit testing'">
        <p> What you know about unit testing specific content </p>
    </div>
    
    <div *ngIf="data === 'Variable Declarations (var, let, const)'">
        <p> Variable Declarations (var, let, const) specific content </p>
    </div>
    
    <div *ngIf="data === 'Functions and Scope'">
        <p> Functions and Scope specific content </p>
    </div>
    
    <div *ngIf="data === 'Closures'">
        <p> Closures specific content </p>
    </div>
    
    <div *ngIf="data === 'Hoisting'">
        <p> Hoisting specific content </p>
    </div>
    
    <div *ngIf="data === 'Event loop (callstack, microtask, macrotask)'">
        <p> Event loop (callstack, microtask, macrotask) specific content </p>
    </div>
    
    <div *ngIf="data === 'Prototypes, prototype chain, Prototypal Inheritance'">
        <p> Prototypes, prototype chain, Prototypal Inheritance specific content </p>
    </div>
    
    <div *ngIf="data === 'Callback in JavaScript'">
        <p> Callback in JavaScript specific content </p>
    </div>
    
    <div *ngIf="data === 'Asynchronous JavaScript (Promises, async/await)'">
        <p> Asynchronous JavaScript (Promises, async/await) specific content </p>
    </div>
    
    <div *ngIf="data === 'call, apply and bind'">
        <p> call, apply and bind specific content </p>
    </div>
    
    <div *ngIf="data === 'Explain *this* in JavaScript'">
        <p> Explain "this" in JavaScript specific content </p>
    </div>
    
    <div *ngIf="data === 'Document Object Model (DOM)'">
        <p> Document Object Model (DOM) specific content </p>
    </div>
    
    <div *ngIf="data === 'Template literals, Destructuring, Spread Operator'">
        <p> Template literals, Destructuring, Spread Operator specific content </p>
    </div>
    
    <div *ngIf="data === 'Angular workflow'">
        <p> Angular workflow specific content </p>
    </div>
    
    <div *ngIf="data === 'Lifecycle hooks'">
        <p> Lifecycle hooks specific content </p>
    </div>
    
    <div *ngIf="data === 'Component communication'">
        <p> Component communication specific content </p>
    </div>
    
    <div *ngIf="data === 'Directives (Structural, Attribute and Custom)'">
        <p> Directives (Structural, Attribute and Custom) specific content </p>
    </div>
    
    <div *ngIf="data === 'Pipes (Pure, Impure, Built-in)'">
        <p> Pipes (Pure, Impure, Built-in) specific content </p>
    </div>
    
    <div *ngIf="data === 'Injectable and Singleton Services'">
        <p> Injectable and Singleton Services specific content </p>
    </div>
    
    <div *ngIf="data === 'Dependency Injection'">
        <p> Dependency Injection specific content </p>
    </div>
    
    <div *ngIf="data === 'One way and two way Data Binding'">
        <p> One way and two way Data Binding specific content </p>
    </div>
    
    <div *ngIf="data === 'Route/Auth Guards'">
        <p> Route/Auth Guards specific content </p>
    </div>
    
    <div *ngIf="data === 'Lazy loading'">
        <p> Lazy loading specific content </p>
    </div>
    
    <div *ngIf="data === 'Template/Reactive Forms and Validations'">
        <p> Template/Reactive Forms and Validations specific content </p>
    </div>
    
    <div *ngIf="data === 'Observable and Promises'">
        <p> Observable and Promises specific content </p>
    </div>
    
    <div *ngIf="data === 'RXJS Operators'">
        <p> RXJS Operators specific content </p>
    </div>
    
    <div *ngIf="data === 'Subject and behavior subject'">
        <p> Subject and behavior subject specific content </p>
    </div>
    
    <div *ngIf="data === 'HTTP (Req/Res) Interceptor'">
        <p> HTTP (Req/Res) Interceptor specific content </p>
    </div>
    
    <div *ngIf="data === 'Change Detection and OnPush'">
        <p> Change Detection and OnPush specific content </p>
    </div>
    
</div>