.topic-name{
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 1px #ede5e5;
    padding: 8px;
    margin-top: 5px;
    list-style: none;
}

.topic-description-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
}

.description {
  margin-bottom: 20px;
}

.description p {
  margin-bottom: 10px;
}

.code {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.code code {
  font-family: 'Courier New', Courier, monospace;
}

ul li {
  margin-bottom: 5px;
}

