<div class="row align-items-center justify-content-center" >
    <div class="col-md-8">
      <div class="mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ title }}</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Debounce and Throttle')">
              Debounce and Throttle
            </li>
            <div *ngIf="selectedTopic === 'Debounce and Throttle'">
              Debounce and Throttle description: Custom description for Debounce and Throttle.
            </div>

            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
            (click)="showDetails('web workers')">
            web workers
          </li>
          <div *ngIf="selectedTopic === 'web workers'">
            web workers
          </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Pure and impure pipe/function')">
              Pure and impure pipe/function
            </li>
            <div *ngIf="selectedTopic === 'Pure and impure pipe/function'">
              Pure and impure pipe/function description: Custom description for Pure and impure pipe/function.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Mutability and immutability')">
              Mutability and immutability
            </li>
            <div *ngIf="selectedTopic === 'Mutability and immutability'">
              Mutability and immutability description: Custom description for Mutability and immutability.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Async and defer')">
              Async and defer
            </li>
            <div *ngIf="selectedTopic === 'Async and defer'">
              Async and defer description: Custom description for Async and defer.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('CORS')">
              CORS
            </li>
            <div *ngIf="selectedTopic === 'CORS'">
              CORS description: Custom description for CORS.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Web Performance Optimization')">
              Web Performance Optimization
            </li>
            <div *ngIf="selectedTopic === 'Web Performance Optimization'">
              Web Performance Optimization description: Custom description for Web Performance Optimization.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Responsive Web Design')">
              Responsive Web Design
            </li>
            <div *ngIf="selectedTopic === 'Responsive Web Design'">
              Responsive Web Design description: Custom description for Responsive Web Design.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('What is microfrontend')">
              What is microfrontend
            </li>
            <div *ngIf="selectedTopic === 'What is microfrontend'">
              Microfrontend description: Custom description for What is microfrontend.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Explain PWA and SPA')">
              Explain PWA and SPA
            </li>
            <div *ngIf="selectedTopic === 'Explain PWA and SPA'">
              PWA and SPA description: Custom description for Explain PWA and SPA.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Pre-processors - SCSS or LESS')">
              Pre-processors - SCSS or LESS
            </li>
            <div *ngIf="selectedTopic === 'Pre-processors - SCSS or LESS'">
              Pre-processors description: Custom description for Pre-processors - SCSS or LESS.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('JWT')">
              JWT
            </li>
            <div *ngIf="selectedTopic === 'JWT'">
              JWT description: Custom description for JWT.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('localStorage/sessionStorage')">
              localStorage/sessionStorage
            </li>
            <div *ngIf="selectedTopic === 'localStorage/sessionStorage'">
              localStorage/sessionStorage description: Custom description for localStorage/sessionStorage.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('How to debug your frontend application')">
              How to debug your frontend application
            </li>
            <div *ngIf="selectedTopic === 'How to debug your frontend application'">
              Debugging description: Custom description for How to debug your frontend application.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('OOPs concepts')">
              OOPs concepts
            </li>
            <div *ngIf="selectedTopic === 'OOPs concepts'">
              OOPs concepts description: Custom description for OOPs concepts.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Design Patterns')">
              Design Patterns
            </li>
            <div *ngIf="selectedTopic === 'Design Patterns'">
              Design Patterns description: Custom description for Design Patterns.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('What you know about unit testing')">
              What you know about unit testing
            </li>
            <div *ngIf="selectedTopic === 'What you know about unit testing'">
              Unit Testing description: Custom description for What you know about unit testing.
            </div>
            <li class="list-group-item list-group-item-action" role="button" class="topic-name"
              (click)="showDetails('Understand different use cases of the Promises with respect to API handling (retry API, combine 2-3 API)')">
              Understand different use cases of the Promises with respect to API handling (retry API, combine 2-3 API)
            </li>
            <div
              *ngIf="selectedTopic === 'Understand different use cases of the Promises with respect to API handling (retry API, combine 2-3 API)'">
              Promises use cases description: Custom description for Promises use cases.
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>